@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap";
body {
  font-family: Manrope, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #303135;
  background-image: url("https://cdn.discordapp.com/attachments/891279552549097503/900997118905430076/big.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}

.text-xs {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.8rem;
}

.text-xl {
  font-size: 2.5rem;
}

.text-2xl {
  font-size: 2.8rem;
}

.text-3xl {
  font-size: 3rem;
}

.text-4xl {
  font-size: 3.8rem;
}

.text-5xl {
  font-size: 4rem;
}

.text-6xl {
  font-size: 5rem;
}

.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: right;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-align: right;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dynamic-img-scale {
  width: 100%;
}

@media screen and (max-width: 2000px) and (min-width: 1200px) {
  .dynamic-img-scale {
    width: 85%;
  }
}

@media screen and (max-width: 2000px) {
  .container {
    max-width: 65rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 65rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 50rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 30rem;
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0e1418;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(top right, #303135, #0e1418);
  border-radius: 50px;
}

.error-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn-custom {
  background: -webkit-linear-gradient(top right, #4287f5, #4e42f5);
  color: #fff;
  transition: opacity 0.25s, box-shadow 0.25s;
}

.btn-custom:hover {
  background: -webkit-linear-gradient(top right, #4287f5, #4e42f5);
  opacity: 85%;
  color: #fff;
  box-shadow: 2px 2px 15px -8px rgba(0, 0, 0, 0.75);
}

.bg-dark {
  background-color: #0e1418;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 2.5rem;
}

.card-title {
  color: #17c9ff;
  font-weight: 800;
}

.card-body {
  font-weight: 600;
}

.btn {
  font-weight: 500;
}

a {
  color: #17c9ff;
  font-weight: 900;
}

a:hover {
  color: #17c9ff;
}

